html {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Center the scheduler */
.center {
  padding: 0px 8px;
  margin: 0px auto;
  min-width: 300px;
  max-width: 400px;
  width: 30vw;
  border-right: 1px solid rgb(219, 219, 219);
  border-left: 1px solid rgb(219, 219, 219);
}

.nextOccurrence {
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.541176);
  font-size: 14px;
}

/*#map {
  height: 100%;
  width: 100%;
}*/

#searchFilter {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  font-size: 13px;
  line-height: 20px;
}

#pano {
  width: 200px;
  height: 200px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 20px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.bottomNav {
  position: fixed;
  display: table;
  width: 100%;
  top: 93%;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#map:after {
  width: 30px;
  height: 30px;
  display: block;
  content: ' ';
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
/*  margin: -40px 0 0 -11px;*/
  background: url('http://icon-icons.com/icons2/864/PNG/512/Add_Circle_Plus_Download_icon-icons.com_67898.png');
  background-size: 30px 30px; /* Since I used the HiDPI marker version this compensates for the 2x size */
  pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.0s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.0s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.0s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.0s infinite ease-in-out;
  /* Opera */
}

.options-box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  z-index: 1;
}

.searchText {
  color: #C0CA33;
  margin: 0 0 0 10px;
}

#places-search {
  margin: 0 0 0 10px;
  width: 290px;
  font-size: 12pt;
}

.timemode {
  margin: 0 0 -30px 0;
}

.destination {
  margin: 0 0 -30px 0;
}

.area {
  margin: 0 0 -10px 0;
}

.set-ambit, .hide-ambits, .show-ambits, .list-ambits {
  margin: 0 auto;
  left: calc(50% - 40px);
  position: relative;
}

.noStats {
  text-align: center;
}

.stats {
  padding: 15px;
  text-align: center;
}

/*#markerLayer img {
  border: 2px solid red !important;
  width: 85% !important;
  height: 90% !important;
  border-radius: 5px;
}*/

/*#markerLayer {
  margin-top: -50px;
  margin-left: -50px;
}

#markerLayer:after {
  position: relative;
  width: 100px;
  height: 100px;
  content: '';
  animation: pulsate 1s ease-out;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 0 6px 3px rgba(16, 63, 249, 1.0);
}*/

@keyframes pulsate {
  0% {
    transform: scale(.1, .1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}



.soonText {
  color: rgba(0, 0, 0, 0.541176);
  font-size: 20px;
  margin-left: 20px;
  font-style: italic;
}

/*#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}*/

/*.text {
  font-size: 16px;
}*/

/*.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.container {
  height: 100%;
  position: relative;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}*/
